.ql-syntax {
  background: rgb(0 0 0);
  color: #4bafff;
  font-size: 16px;
  font-weight: 500;
  padding: 30px;
  border-radius: 10px;
  margin: 20px 0;
  font-family: monospace;
  overflow: auto;
}
